{{!< default}}

{{#post}}

<article class="gh-article {{post_class}}">

  <header class="gh-header gh-canvas">
      <h1 class="gh-title">{{title}}</h1>
      <span class="gh-post-meta">
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
         {{#primary_tag}}
          <span class="gh-post-tags primary-tag">{{name}}</span>
         {{/primary_tag}}
      </span>
      {{#if custom_excerpt}}
      <p class="gh-excerpt">{{custom_excerpt}}</p>
      {{/if}}
  </header>
  <div class="gh-content gh-canvas">
      {{content}}
  </div>
</article>

{{!-- Read more links, just above the footer --}}
{{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
    {{#get "posts" include="tags,authors" filter="id:-{{id}}" limit="2" as |more_posts|}}
        {{#if more_posts}}
            <aside class="read-more-wrap outer gh-canvas">
              <div class="read-more-divider"></div>
               <div class="read-more-title">
                  More Blog
                </div>
                <div class="read-more inner">
                    {{#foreach more_posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </aside>
        {{/if}}
    {{/get}}
{{/if}}

{{/post}}
